@model IEnumerable<Card>

<div class="table-responsive">
    <table class="table">
        <thead>
            <tr>
                <th>Epic</th>
                <th>Name</th>
                <th>List</th>
            </tr>
        </thead>
        <tbody>
            @foreach (Card card in Model)
            {
                <tr>
                    <td>@card.Epic</td>
                    <td>@TrelloHelper.CardLink(card.Id, card.Name)</td>
                    <td>@card.ListName</td>
                </tr>
            }
        </tbody>
    </table>
</div>