@model List<ErrorModel>

<div class="table-responsive">
    <table class="table">
        <thead>
            <tr>
                <th>Error Type</th>
                <th class="number">Count</th>
            </tr>
        </thead>
        <tbody>
            @foreach (ErrorModel error in Model)
            {
                <tr class="@Html.IsDanger(error.Count > 0)">
                    <td>
                    @if (error.Count == 0)
                    {
                        @error.Text
                    }
                    else
                    {
                        @Html.ActionLink(error.Text, error.Action)
                    }
                    </td>
                    <td class="number">@error.Count</td>
                </tr>
            }

        </tbody>
    </table>
</div>