<h2>Errors</h2>
<table>
    <thead>
        <tr>
            <th>Error Type</th>
            <th>Count</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td><a href="/Error/TaskDuplicates">Toggl Task Duplicates</a></td>
            <td class="number">@ViewBag.DuplicateTasks</td>
        </tr>

        <tr>
            <td><a href="/Error/DomIdDuplicates">Trello Dom ID Duplicates</a></td>
            <td class="number">@ViewBag.DuplicateDomIds</td>
        </tr>

        <tr>
            <td><a href="/Error/NullDomIds">Trello Missing Dom Ids</a></td>
            <td class="number">@ViewBag.NullDomIds</td>
        </tr>
    </tbody>
</table>
