@model IEnumerable<Task>

<div class="table-responsive">
    <table class="table">
        <thead>
            <tr>
                <th>Card Id</th>
                <th>Project</th>
                <th>Name</th>
                <th class="number">Tracked Seconds</th>
            </tr>
        </thead>
        <tbody>
            @foreach (Task task in Model)
            {
                <tr>
                    <td>@TrelloHelper.CardLink(task.CardId, task.CardId)</td>
                    <td>@TogglHelper.EditProject(task.ProjectId, task.ProjectName)</td>
                    <td>@TogglHelper.DetailedReport(task.Id, task.Name)</td>
                    <td class="number">@task.TrackedSeconds</td>
                </tr>
            }
        </tbody>
    </table>
</div>