<ol class="breadcrumb">
    <li><a href="/">Home</a></li>
    <li class="active">Data</li>
</ol>

<div class="page-header">
    <h2>Data</h2>
</div>

<div class="panel panel-default">
    <div class="panel-body">

        <p>
            <a href="Data/Trello">Trello</a>
            <a href="Data/Tasks">Tasks</a>
            <a href="Data/Toggl">Toggl</a>
            <a href="Data/AllByMonth">SDN</a>
            <a href="Data/BudgetControl">Budget Control</a>
        </p>
    </div>
</div>