@model IEnumerable<Task>

<div class="table-responsive">
    <table class="table">
        <thead>
            <tr>
                <th>Dom Id</th>
                <th>Name</th>
                <th>Project Name</th>
                <th>Active</th>
            </tr>
        </thead>
        <tbody>
            @foreach (Task item in Model)
            {
                <tr>
                    <td>@item.DomId</td>
                    <td>@item.Name</td>
                    <td>@item.ProjectName</td>
                    <td>@item.Active</td>
                </tr>
            }
        </tbody>
    </table>
</div>