<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Vincente</title>
    <link href="~/Content/Site.css" rel="stylesheet" />
</head>
<body>
    <h1>Vincente</h1>
    <p>
        <a href="/Data">Data</a>
        <a href="/Wip">WIP</a>
    </p>

    @RenderBody()

</body>
</html>
        
