<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body>
    <h1>Vincente</h1>
    <p>
        <a href="/Default/Toggl">Toggl</a>
        <a href="/Default/Trello">Trello</a>
        <a href="/Default/Join">Join</a>
        <a href="/Default/Orphans">Orphans</a>
        <a href="/Wip">WIP</a>
    </p>

    @RenderBody()

</body>
</html>
        
