@model NavModel
<div class="container">
    <ol class="breadcrumb">
        @foreach (NavLink link in Model.Links)
            {
            <li>@Html.ActionLink(link.LinkText, link.ActionName, link.ControllerName, link.RouteValues, null)</li>
        }
        <li class="visible-xs-inline">@Model.Title</li>
    </ol>

    <div class="page-header hidden-xs">
        <h2>@Model.Title</h2>
    </div>
</div>

