@model DefaultModel

<div class="panel panel-default">
    <div class="panel-body">

        <p>Deployment occured @DateTimeHelper.GetPeriodFromNow(ViewBag.BuildDateTime) ago.</p>
        <p>
            <a target="_blank" href="https://vincentewebapp.scm.azurewebsites.net/azurejobs/#/jobs/triggered/TrelloConsoleApp">Trello</a>
            last updated @DateTimeHelper.GetPeriodFromNow(Model.CardLatestTimestamp) ago.
        </p>
        <p>
            <a target="_blank" href="https://vincentewebapp.scm.azurewebsites.net/azurejobs/#/jobs/triggered/TogglConsoleApp">Toggl</a>
            last updated @DateTimeHelper.GetPeriodFromNow(Model.TimeEntryLatestTimestamp) ago.
        </p>
    </div>
</div>
