<p>Deployment occured @ViewBag.BuildDateTime ago.</p>
<p><a target="_blank" href="https://vincentewebapp.scm.azurewebsites.net/azurejobs/#/jobs/triggered/TrelloConsoleApp">Trello</a> last imported @ViewBag.LatestCard ago.</p>
<p><a target="_blank" href="https://vincentewebapp.scm.azurewebsites.net/azurejobs/#/jobs/triggered/TogglConsoleApp">Toggl</a> last imported @ViewBag.LatestTimeEntry ago.</p>
