@model DefaultModel


<div class="panel panel-default">
    <div class="panel-body">

        <p>Deployment occured @DateTimeHelper.GetPeriodFromNow(ViewBag.BuildDateTime) ago.</p>
        <p>
            Trello last updated @DateTimeHelper.GetPeriodFromNow(Model.CardLatestTimestamp) ago and Toggl last updated @DateTimeHelper.GetPeriodFromNow(Model.TimeEntryLatestTimestamp) ago. <a target="_blank" href="https://vincentewebapp.scm.azurewebsites.net/azurejobs/#/jobs/triggered/VincenteWebJob">View Dashboard.</a>
        </p>
    </div>
</div>
