
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body>
    <table>
        <thead>
            <tr>
                <th>DomId</th>
                <th>List</th>
                <th>Invoice</th>
                <th>Month</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>D10100.2</td>
                <td>Dev Done</td>
                <td>2015/02/01</td>
                <td>2015/04/01</td>
            </tr>           
            <tr>
                <td>D10100123.2</td>
                <td>Dev Done</td>
                <td>2015/02/01</td>
                <td>2015/04/01</td>
            </tr>
            <tr>
                <td>D10100123.3</td>
                <td>Dev Done</td>
                <td>2015/02/01</td>
                <td>2015/04/01</td>
            </tr>
        </tbody>
    </table>
</body>
</html>
