<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Toggl</title>
</head>
<body>
    <table>
        <thead>
            <tr>
                <th>Month</th>
                <th>UserName</th>
                <th>DomId</th>
                <th>HouseKeeping</th>
                <th>Billable</th>
            </tr>
        </thead>
        <tbody>
        @foreach (Azure.Entities.TimeEntryEntity entry in Model)
        {
            <tr>
                <td>@entry.Month</td>
                <td>@entry.UserName</td>
                <td>@entry.DomId</td>
                <td>@entry.HouseKeeping</td>
                <td>£@entry.Billable</td>
            </tr>
        }
        </tbody>
    </table>
</body>
</html>
