<h1>Work In Progress</h1>

<table>
    <thead>
        <tr>
            <th>List</th>
            <th>Billable</th>
        </tr>
    </thead>
    <tbody>
        @foreach (WebApp.Models.ListModel item in Model)
        {
            <tr>
                <td>@item.ListName</td>
                <td class="currency">@item.Billable</td>
            </tr>
        }
    </tbody>
</table>

