@model IEnumerable<JoinModel>
<h2>Work In Progress</h2>

<table>
    <thead>
        <tr>
            <th>List</th>
            <th>Billable</th>
        </tr>
    </thead>
    <tbody>
        @foreach (JoinModel item in Model)
        {
            <tr>
                <td><a href="/Wip/ByList/@item.ListIndex">@item.ListName</a></td>
                <td class="currency">@string.Format("{0:n2}", item.Billable)</td>
            </tr>
        }
    </tbody>
    <tfoot>
        <tr>
            <td>Total</td>
            <td class="currency">@Model.Sum(e => e.Billable)</td>
        </tr>
    </tfoot>
</table>

