<h1>Work In Progress</h1>

<table>
    @foreach(WebApp.Models.ListModel item in Model)
    {
        <tr>
            <td>@item.ListName</td>
            <td>@item.Billable</td>
        </tr>
    }
</table>

