@model IEnumerable<CardWithTime>
<h2>Invoice</h2>
<h3>@DateTimeHelper.Format(Model.First().Invoice)</h3>

<table>
    <thead>
        <tr>
            <th>Epic</th>
            <th>Billable</th>
        </tr>
    </thead>
    <tbody>
        @foreach (CardWithTime item in Model)
        {
            <tr>
                <td><a href="/Invoice/@item.Invoice.Value.Year/@item.Invoice.Value.Month/@item.Epic">@item.Epic</a></td>
                <td class="currency">@CurrencyHelper.Format(item.Billable)</td>
            </tr>
        }
    </tbody>
    <tfoot>
        <tr>
            <td>Total</td>
            <td class="currency">@CurrencyHelper.Format(Model.Sum(e => e.Billable))</td>
        </tr>
    </tfoot>
</table>
