@model IEnumerable<InvoiceModel>

<ol class="breadcrumb">
    <li><a href="/">Home</a></li>
    <li class="active">Invoices</li>
</ol>

<div class="page-header">
    <h2>Invoices</h2>
</div>

<div class="table-responsive">
    <table class="table">
        <thead>
            <tr>
                <th>Invoice</th>
                <th class="currency">Total</th>
            </tr>
        </thead>
        <tbody>

            @foreach (InvoiceModel item in Model)
            {
                <tr>
                    <td>
                        <a href="\Invoice\@item.Invoice.Value.Year\@item.Invoice.Value.Month">
                            @DateTimeHelper.Format(item.Invoice)
                        </a>
                    </td>
                    <td class="currency">
                        @CurrencyHelper.Format(item.Total)
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>