<h2>Users</h2>
<h3>Summary</h3>
<table>
    <thead>
        <tr>
            <th>User</th>
            <th>Total</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td rowspan="2">In development.</td>
        </tr>
    </tbody>
</table>
